# Test example
hello-world-src

# Build artifacts
built_artefact.tar.bz2
build_settings_snapshot.tar.bz2
*.tar.bz2
build-*/
install-*/
build-config-*.sh
build-config.sh
snapshot/

# OS specific files
.DS_Store
Thumbs.db
